<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../../public/recipes/detail.css" />
    <title>Read More <%= data.name %></title>
  </head>
  <body>
    <%- include('../../partial/navbar') %>
    <div class="container">
      <h1 class="text-center"><%= data.name %></h1>
      <div class="cards d-flex">
        <div class="image">
          <img
            src="<%= data.imageUrl %> "
            alt="image"
            width="300px"
            height="290px"
            class="img"
          />
        </div>
        <div class="list">
          <ul>
            <li>Total Vote: <%= data.totalVote %></li>
            <li>Duration: <%= data.duration %> minutes</li>
            <li>Category: <%= data.category %></li>
            <li>Chef Name: <%= data.ChefName %></li>
            <li>The chef made recipeon <%= data.createdDate %></li>
            <li>
              <form action="/recipes/<%= data.id %>/vote" method="get">
                <div class="visually-hidden">
                  <input
                    type="text"
                    name="totalVote"
                    value="<%= data.totalVote %>"
                  />
                </div>
                <button class="btn btn-primary mt-3" type="submit">VOTE</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container mb-5">
      <ul class="list-bahan">
        <% data.notes.forEach(e => { %>
        <li><%= e %></li>
        <% }) %>
      </ul>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>
